@font-face {
    font-family: 'AvenirNextBold';
    src: url('fonts/AvenirNextLTPro-Bold.otf');
}

@font-face {
    font-family: 'AvenirNextHeavy';
    src: url('fonts/AvenirNextLTPro-Heavy.otf');
}

@font-face {
    font-family: 'NewCenturyRoman';
    src: url("../fonts/NewCenturySchoolBook/newcenturyschlbk-roman.otf");
}

#top-div h1{
    font-size: 7rem;
    color: white;
}

#top-div h2{
    font-size: 4rem;
}
span{
    font-size: 7rem;
    color: white;
}
.avatar-img{
    width:auto;
}
.container{
    padding: 1% 7%;
}
.title-text{
    position: relative;
    left: 5em;
}
#top-div{
    background-color: #49c5b6;
    font-family: 'AvenirNextBold';
    padding-top: 2% ;
    padding-bottom: 7%;
}
#top-div p{
    font-family: 'NewCenturyRoman';
    font-size: 2rem;
}

.svg-top{
    position: absolute;
    width:18%
}

/* Hobbies */

#hobbies{
    padding-top: 2%;
    background-color: #27363B;
    text-align: center;
    font-family: 'NewCenturyRoman';
    color:white;
    font-size: 24px;
    line-height:1.6;
}

#hobbies h1{
    font-family: 'AvenirNextBold';
    color: #34AFAA;
    font-size: 3rem;
    margin: 2% 0;
    margin-bottom: 7%;
}

#hobbies .container, #about-me .container{
    padding: 0;
    padding-top: 2%;
    padding-bottom: 5%;
}

#hobbies h2{
    font-family: 'AvenirNextBold';
    color: #34AFAA;
    font-size: 2rem;
}

#hobbies .col-lg-4{
    padding: 0 5%;
    max-width: 500px;
}

/* About Me */
#about-me{
    background-color: #49c5b6;
    text-align: center;
}

#about-me h1{
    padding-top: 2%;
    font-family: 'AvenirNextBold';
    color: #27363B;
    font-size: 3rem;
    margin: 2% 0;
    margin-bottom: 7%;
    text-align: center;
}
#about-me p{
    
    font-family: 'NewCenturyRoman';
    font-size: 30px;
    line-height: 0.9;
}
