@font-face {
    font-family: 'AvenirNextBold';
    src: url('fonts/AvenirNextLTPro-Bold.otf');
}

@font-face {
    font-family: 'AvenirNextHeavy';
    src: url('fonts/AvenirNextLTPro-Heavy.otf');
}

@font-face {
    font-family: 'NewCenturyRoman';
    src: url("../fonts/NewCenturySchoolBook/newcenturyschlbk-roman.otf");
}

#top-div h1{
    font-size: 7rem;
    color: white;
}

#top-div h2{
    font-size: 4rem;
}
span{
    font-size: 7rem;
    color: white;
}
.avatar-img{
    width:auto;
}
.container{
    padding: 0% 7%;
}
.title-text{
    position: relative;
    left: 5em;
}
#top-div{
    background-color: #49c5b6;
    font-family: 'AvenirNextBold';
    padding-top: 2% ;
    padding-bottom: 7%;
}
#top-div p{
    font-family: 'NewCenturyRoman';
    font-size: 2rem;
}

.svg-top{
    position: absolute;
    width:18%
}

/* Hobbies */

#hobbies{
    padding-top: 2%;
    background-color: #27363B;
    text-align: center;
    font-family: 'NewCenturyRoman';
    color:white;
    font-size: 24px;
    line-height:1.6;
}

#hobbies h1{
    font-family: 'AvenirNextBold';
    color: #34AFAA;
    font-size: 3rem;
    margin: 2% 0;
    margin-bottom: 7%;
}

#hobbies .container, #about-me .container{
    padding: 0;
    padding-top: 2%;
    padding-bottom: 5%;
}

#hobbies h2{
    font-family: 'AvenirNextBold';
    color: #34AFAA;
    font-size: 2rem;
}

#hobbies .col-lg-4{
    padding: 0 5%;
    max-width: 500px;
}

/* About Me */
#about-me{
    background-color: #49c5b6;
    text-align: center;
}

#about-me h1{
    padding-top: 2%;
    font-family: 'AvenirNextBold';
    color: #27363B;
    font-size: 3rem;
    margin: 2% 0;
    margin-bottom: 7%;
    text-align: center;
}
#about-me .col-lg-4 p{
    font-family: 'NewCenturyRoman';
    font-size: 24px;
    line-height: 0.6;
    font-weight: bold;
}

#about-me .col-lg-8 p{
    font-family: 'NewCenturyRoman';
    font-size: 28px;
    max-width: 700px;
    text-align: left;
}

#about-me h2{
    font-family: 'AvenirNextBold';
    color: #27363B;
    font-size: 2rem;   
}
#about-me ul{
    font-family: 'NewCenturyRoman';
    font-size: 20px;
    text-align: left;
}
.flex-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact Me */
#contact-me{
    padding: 7% 5%;
    padding-bottom: 4%;
    background-color: #27363B;
    color:white;
    text-align: center;
}

#contact-me .bi{
    color:white;
    margin: 3%;
}
#contact-me .bi:hover{
    color: #2b7a78;
}
footer{
    margin-top: 5%;
    font-family: 'NewCenturyRoman';
    font-size: 23px;
}

/* Media Queries */

@media (max-width: 992px){
    #top-div{
        text-align: center;
    }
    .title-text{
        position: static;
    }
    .avatar-img{
        width: 80%;
    }

    #hobbies .col-lg-4{
        margin: 4% 0%;
    }

    #hobbies .row{
        justify-content: center;
    }
    
    .col-lg-8 p{
        text-align: center !important;
        padding: 2%;
        font-size: 24px;
        max-width: auto;
    }
    .navbar-wxpand-lg{
        padding: 0 !important;
        margin: 0 !important;
    }
    #top-div .container > {
        padding: 0 !important;
    }
    #top-div ul{
        margin: 0 !important;
    }
    #top-div{
        position: static !important;
    }
}