@font-face {
    font-family: 'NewCenturyRoman';
    src: url("../fonts/NewCenturySchoolBook/newcenturyschlbk-roman.otf");
}
@font-face {
    font-family: 'AvenirNextBold';
    src: url('../fonts/AvenirNextLTPro-Bold.otf');
}

body{
    background-color: #27363B;
    color: #FFFFFF;
    font-family: 'NewCenturyRoman';
    font-size: 24px;
    line-height:1.6;
}

.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
h1{
    font-family: 'AvenirNextBold';
    color: #34AFAA;
    margin: 2% 0;
    grid-column: span 2;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

img:hover{
    transform: scale(1.08);
}

.grid-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
    
}
