@font-face {
    font-family: 'NewCenturyRoman';
    src: url("../fonts/NewCenturySchoolBook/newcenturyschlbk-roman.otf");
}

@font-face {
    font-family: 'AvenirNextBold';
    src: url('../fonts/AvenirNextLTPro-Bold.otf');
}

body{
    background-color: #27363B;
    font-family: 'NewCenturyRoman';
    font-size: 24;
    color:white
}

h1{
    font-family: 'AvenirNextBold';
    color:
}
.col-lg-3{
    text-align: center;
}